/csv/
.gitlab
.gitlab_token.env
.gitlab_token.groovy
.groovylintrc.json
.nextflow*
.nextflow/
/.nextflow
nextflow
/.nextflow.log*
/rmlmapper*.jar
secrets
_site/*
/StahlDigital-vocab.*
/StahlDigital-vocab.test*.ttl
/work
work/
/xlsx2owl-StahlDigital*.xlsx
/yarrrml.yml.ttl
_data/
